h1{
    text-align: center;
    vertical-align: center ;
    background-color: rgb(28, 240, 215);
    color:white;
    font-style:initial;
    font-size: 40px;
    padding-bottom: 22px;
    word-spacing: 10px;
    margin-bottom: auto;
}

/* .container{
    background-color:ivory;
} */

h2 {
    text-align: center;
    color:darkblue;
    word-spacing: 8px;
}

.mt-5 {
        margin-top: 0rem !important;
    }

:host ::ng-deep 
    .p-card .p-card-body {
        padding: 1.25rem;
        background-color: purple;
        margin-top: -5px;
    }
