<!-- <div>
    <img src="/assets/images/logo2.jpg" height="150px" width="180px" align="left">
    <h1>Yarra Naaju</h1>
    <h3>Associate/Software Associate</h3>
    <h2><b>Base Location :</b>BLR</h2>
    <h2><b>Email-id :</b>NAmoham</h2>
    <h2><b>Mobile No :</b>naadey</h2>
    <h2><b>Grade :</b>A3</h2>
    
</div>
<div>
    <h1>Strengths</h1>
    <h3>Full Stack Developer</h3>
     <br>
     <h5>Hands on experience in creating microservices with Spring Boot,  Spring Cloud API Gateway, Spring Security, Eureka server, load balancing, Rest Template</h5> 
    <br>
    <h5>Hands on experience in implementing  Java in Middleware and Spring Core Backend MongoDB.</h5>
    <br>
    <h5>Experience in creating documentation with  swagger and in unit testing using Junit.</h5>
    <br>
    <h5>Practical Hands on experience on the concepts of Java, Spring Core and spring Web services and Spring Boot</h5>
    <br>
    <h5>Check out My Hands on Work on GitHub  https://github.com/naaju876/JavaAssignments.git</h5>
    <br>
</div>

<div>
    <h1>Achievement</h1>

    <h5>Online Railway Reservation System</h5>
    <br>
    <h5>Completed end to end case study of Railway Reservation System Application along with JWT authentication, Swagger and payment  using Razor pay and used rest template for communication between Microservices</h5>
    <br>
    <h5>Certification on Course Completion of “M.S.Office”</h5>
    <br>
    <h5>Certification on Completion of Lower Grade and Higher Grade of TypeWriting.</h5>

</div>  -->



<!-- <section class="container">
    <div class="left-half">
      <article>
        <h1>Left Half</h1>
        <p>Weekends don't count unless you spend them doing something completely pointless.</p>
      </article>
    </div>
    <div class="right-half">
      <article>
        <h1>Right Half</h1>
        <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
      </article>
    </div>
  </section>
   -->
<div class="container">
    <div class="bootstrap-wrapper">
        <div class="containers">
            <img src="../../../assets/Header.png" alt="header" style="width:100%" height="250">
            <div class="top-left">
                <img src="../../../assets/profile.png" style="border-radius: 50%" width="180" height="180">
            </div>
            <div class="centered"><br>
                <h2 style="padding-top: 100px;"><b>Yarra Naaju</b></h2>
                <h4>Associate/Software Associate</h4>
                <h6 style="padding-bottom: 50px;"><b>BaseLocation :</b><br>
                    <b>Email ID :</b><br>
                    <b>Mobile No :</b><br>
                    <b>Grade :</b>
                </h6>
            </div>
            <div class="center">
                <ul>
                    <li>Banglore</li>
                    <li>yarra.naaju@capgemini.com</li>
                    <li>6303745119</li>
                    <li>A3</li>
                </ul>
            </div>
        </div>

        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style=" display: table-cell;">
                    <ul>
                        <div class="image">

                                <!-- width="50" height="50"> -->
                            <img src="../../../assets/strengths.png" alt="img not found" width="50" height="50">
                            <p class="titles">Strengths</p>
                        </div>
                        <li>Java Full Stack Developer</li>
                        <li>Hands on experience in creating microservices with Spring Boot, Spring Cloud API Gateway,
                            Spring
                            Security, Eureka server, load balancing, Rest Template</li>
                        <li>Hands on experience in implementing Java in Middleware and Spring Core Backend MongoDB.</li>
                        <li>Experience in creating documentation with swagger and in unit testing using Junit.</li>
                        <li>Practical Hands on experience on the concepts of Java, Spring Core and spring Web services
                            and
                            Spring Boot</li>
                        <li>Ready to learn new technologies/Frameworks and implement them to further improve my
                            knowledge.</li>
                    </ul>
                </div>

                <div style="display: table-cell;">
                    <ul>
                        <div class="image">
                            <img src="../../../assets/Acheivments.png" alt="img not found" width="50" height="50">
                           
                                <!-- width="50px" height="50px"> -->
                            <p class="titles">Achievements</p>
                        </div>
                        <!-- <li>Java Full Stack Developer</li> -->
                        <li>Online Railway Reservation System</li>
                        <li>Completed end to end case study of Railway Reservation System Application along with JWT
                            authentication, Swagger and payment using Razor pay and used rest template for communication
                            between
                            Microservices</li>
                        <li>Certification on Course Completion of “M.S.Office”</li>
                        <li>Certification on Completion of Lower Grade and Higher Grade of TypeWriting.</li>
                    </ul>
                    <h4> &nbsp;<img src="../../../assets/git.png" width="50"height="50">Check out my work on GitHub & Video Profile
                                <div>
                                  <a href="https://github.com/naaju876/Online-Railway-Reservation-System.git">https://github.com/naaju876/Online-Railway-Reservation-System.git</a>
                                </div>
                                </h4>
                </div>
            </div>
        </div>
    </div>

<div style="background-color:rgb(227, 223, 223);">
    <table color="grey">
        <p class="title1" style="background-color:rgb(212, 210, 210)"><span style="font-size:20px; padding-left:40px;" >Education and certificates</span><br><br>
        <span style="font-size:5px" style="color:black; padding-left:60px;">Bachelor of Science</span><br>
        <span style="font-size:5px"  style="padding-left:40px; color:black">Computer Science :2019-2022</span><br><br>
        <span style="font-size:20px" >Skills</span></p>

        <tr>
            <td>Java</td>
            <td>Java Basics, OOPS, Generics, Collections, Arrays, Loops, Lambda Exp, Stream API Junit, Mockito,
                Servlets</td>
        </tr>
        <tr>
            <td>Spring Core</td>
            <td>IOC & Dependency Injection, Auto wire</td>
        </tr>
        <tr>
            <td>Spring REST</td>
            <td>REST controllers, Implementation of GET, POST, PUT & DELETE, Bean Validation & Exception Handling,
                Testing Services, Controller & Repository layer</td>
        </tr>
        <tr>
            <td>Spring Data JPA</td>
            <td>Implement DAO layer using spring Data repositories, Transaction Management</td>
        </tr>
        <tr>
            <td>Spring Boot Microservices</td>
            <td>Spring Boot Starters, annotations, Swagger API documents</td>
        </tr>
        <tr>
            <td>Spring Cloud</td>
            <td>Eureka, Netflix Ribbon, Rest Template, Hystrix, API Gateway & Config Server</td>
        </tr>
        <tr>
            <td>Angular</td>
            <td>Components, Services, Modules, Routing, Forms & Validation, Testing using Jasmine & Karma</td>
        </tr>
        <tr>
            <td>Database</td>
            <td>MongoDB No SQL Basics H2 Database</td>
        </tr>
        <tr>
            <td>UI Tech</td>
            <td>HTML 5 & CSS 3,JavaScript, ES6 & TypeScript</td>
        </tr>
        <tr>
            <td>Tools</td>
            <td>Git,Postman,Maven,IDE</td>
        </tr>
        <tr>
            <td>Add On Skills</td>
            <td>Communications, Team management. Peer learning</td>
        </tr>

        <tr class="image1" style="padding-left:60px; background-color:rgb(212, 210, 210);">
            
        </tr>
        <img src="../../../assets/Capgemini.gif" alt="img not found" width="90" height="60" style="padding-left: 170%;">
    </table>

</div>
</div>