<!-- <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Admin DashBoard
</mat-toolbar> -->
<mat-sidenav-container>
    
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            
            <img style="height: 509px; width: 1220px" src="/assets/images/booking.webp">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
