<body class="bg">

    <div class="Head">
        <h1>

            <img src="/assets/images/logo1.jpg" height="150px" width="180px" align="right">
            <img src="/assets/images/logo2.jpg" height="150px" width="180px" align="left">
            <br>WELCOME TO PAKISTAN<br><br>ONLINE RAILWAY RESERVATION SYSTEM<br>
        </h1>

        <div class="buttons">
            <mat-toolbar class="ahome">
                <span><mat-icon>eco</mat-icon><a mat-button routerLink="/home"></a></span>
                <div class="spacer"></div>
                <a mat-button routerLink="/home">HOME</a>
                <a mat-button routerLink="/userreg">NEW USER REGISTRATION</a>
                <a mat-button routerLink="/userLogin">USER-LOGIN</a>
                <a mat-button routerLink='/AdminLogin'>ADMIN-LOGIN</a>
                <a mat-button routerLink='/searchtrains'>TRAIN-SCHEDULE</a>

            </mat-toolbar>

        </div>
    </div>


</body>